    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Me</h2>
              <br/>
                <p>
                I've been programming games in the Unity game engine for the last 5 years. 
                I received my bachelors in Computer Science, with concentrations in HCI and Game Programming,
                from Drexel University in 2016. During my senior project, Mirrors of Grimaldi, I became involved in AI for games. 
                I'm interested in data science, and more 
                specifically bioinformatics, functional programming,
                AI, Shaders, cats, and local Philly lore.
                </p>
                <br/>
              </div>
        </div>
    </section>
