{% if page.title == "Home"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}

    <header class="header-home {% if site.animation %}animated{% endif %}">
        <h1 class="title">{{ site.name }}</h1>
        <h2 class="description">{{ site.bio }}</h2>
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture2 }}{% else %}{{ site.url }}/{{ site.picture2 }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}
    </header>
{% endif %}
{% if page.title != "Home"
   and page.layout != "post"%}
   <h1 class="title">{{ page.title }}</h1>
{% endif %}
 
{% include nav.html %}
