.home,
.blog,
.projects
    margin-top: 125px

    > .list
        border-top: 1px solid $epsilon
        margin-top: 30px
        padding-top: 40px
        position: relative

        &:before
            display: block
            content: " "
            width: 7px
            height: 7px
            border: $epsilon 1px solid
            position: absolute
            top: -5px
            left: 50%
            margin-left: -5px
            background: #FFF
            box-shadow: #FFF 0 0 0 5px
            border-radius: 3px

    > .item
        display: block
        width: 95%
        margin: 0 auto

        > .url
            width: 100%
            display: flex
            align-items: center
            padding: 20px 0
            text-decoration: none

            > .title
                margin: 0
                flex: 1
                font-weight: 500
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
                transition: color ease-in-out .2s

            &:hover > .title
                color: $delta

        aside
            margin-left: 10px
            font-weight: 300
            color: $gama
            text-align: right
            transition: color ease-in-out .2s

        &:hover aside
            color: $alpha

.blog > .list > .item > .url,
.projects > .list > .item > .url
    > .title
        display: inline

    > .emoji
        display: inline
        position: relative
        top: -4px
        margin-right: 10px
