$nav-font-size: 2.8rem
$nav-color: $delta
$nav-hover-color: $alpha
$nav-spacing: 15px
$nav-padding: 10px
.nav
    position: fixed
    top: 0
    left: 50%
    transform: translateX(-50%) // Centers the navigation horizontally
    width: 100% // Ensures the navigation spans the full width
    max-width: 1200px // Optional: limits the width of the nav container
    padding: $nav-padding
    z-index: 1000 // Ensures the navigation stays on top of other content
    background-color: $background-color

    > .list
        list-style: none
        margin: 0 auto
        padding: 0
        display: flex
        justify-content: center

        > .item
            display: inline-block
            margin-right: $nav-spacing

        > .item > .link
            display: inline-block
            font-weight: 300
            font-size: $nav-font-size
            padding: 20px 10px
            text-decoration: none
            color: $nav-color

            &:hover
                color: $nav-hover-color
                text-decoration: underline
