.project-elem
    display: inline-block
    margin: 0 auto
    text-align: center
    position: relative
    z-index: 99
    padding: 18px
    margin: auto

    > .link
        text-decoration: none

    > .link > .selfie
        //border: 1px solid green
        width: 150px
        height: 150px
        margin-bottom: 25px
        border-radius: 100%
        transition: all .2s
        box-shadow: 1px 0px 10px grey
        opacity: 1

        &:hover
            box-shadow: 0 0px 4px 0 rgba(0,0,0,0.18), 0 0px 12px 0 rgba(0,0,0,0.15)
            opacity: .5

    > .link > .title
        font-weight: 100

    > .link > .description
        font-size: 1.85rem
        font-weight: 100
        font-style: normal
        color: $gama
        width: 70%
        margin: 0 auto 10px

        // if you put some links in your bio. ;)
        a
            font-weight: 200
            text-decoration: none
